<div class="col-md-6">

  <div class="well">
    <div class='col-md-3'><h4>Invoice #1</h4></div>
    <div class='col-md-offset-5'>
      <select class="form-control" id="select">
        <option>David</option>
        <option>Nick</option>
      </select>
    </div>
    <hr class='header'>

    <div id='invoice_list'>
      <div class='row text-center'>
        <div class='col-md-6'>Item</div>
        <div class='col-md-2'>Price</div>
        <div class='col-md-2'>Quantity</div>
        <div class='col-md-2'>Remove</div>
      </div>
      <hr class='header'>
      <div class='row' id='line_items'></div>
    </div>


    <div class='text-right'><hr class='header'>
      <p>Total: </p>
      <a href="#" class="btn btn-success btn-lg">PAY</a>
    </div>
  </div>

</div>

<div class="col-md-6 text-center">

  <div class='col-md-6'>
    <div class="well">
      <h4>Bacon</h4>
      <%= image_tag('bacon.png') %>
      <div id='price'>4.99</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
    <div class="well">
      <h4>Pancetta</h4>
      <%= image_tag('pancetta.png') %>
      <div id='price'>6.99</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
    <div class="well">
      <h4>Pork Belly</h4>
      <%= image_tag('pork_belly.png') %>
      <div id='price'>5.50</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
  </div>

  <div class='col-md-6'>
    <div class="well">
      <h4>Salami</h4>
      <%= image_tag('salami.png') %>
      <div id='price'>8.99</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
    <div class="well">
      <h4>Canadian Bacon</h4>
      <%= image_tag('canadian_bacon.png') %>
      <div id='price'>6.49</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
    <div class="well">
      <h4>Pork Chops</h4>
      <%= image_tag('pork_chop.png') %>
      <div id='price'>4.99</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
  </div>

</div>
