<div class="col-md-6">
  <div class="panel panel-primary">
    <%= form_for Invoice.new do |f| %>
    <div class="panel-heading">
      <div class='col-md-3'>
        <h4>Invoice #1</h4>
      </div>
      <div class='col-md-offset-3'>
        <%= f.collection_select :customer_id, Customer.all, :id, :name, {:prompt => 'Select Customer...'}, class: "form-control" %>
      </div>
    </div>

    <div class="panel-body">
      <table>
        <tr>
          <th class='col-md-6'>Item</th>
          <th class='col-md-2'>Price</th>
          <th class='col-md-2'>Quantity</th>
          <th class='col-md-2'></th>
        </tr>
        <tbody>
          <tr class='line_items'></tr>
        </tbody>
      </table>

    </div>

    <div class='panel-footer text-right'>
      <%= f.submit 'Pay', class: "btn btn-success btn-lg" %>
    </div>
    <% end %>
  </div>
</div>

<div class="col-md-6 text-center">

  <div class='col-md-6'>
    <div class="well">
      <h4>Bacon</h4>
      <%= image_tag('bacon.png') %>
      <div id='price'>4.99</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
    <div class="well">
      <h4>Pancetta</h4>
      <%= image_tag('pancetta.png') %>
      <div id='price'>6.99</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
    <div class="well">
      <h4>Pork Belly</h4>
      <%= image_tag('pork_belly.png') %>
      <div id='price'>5.50</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
  </div>

  <div class='col-md-6'>
    <div class="well">
      <h4>Salami</h4>
      <%= image_tag('salami.png') %>
      <div id='price'>8.99</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
    <div class="well">
      <h4>Canadian Bacon</h4>
      <%= image_tag('canadian_bacon.png') %>
      <div id='price'>6.49</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
    <div class="well">
      <h4>Pork Chops</h4>
      <%= image_tag('pork_chop.png') %>
      <div id='price'>4.99</div>
      <div id='add'>
        <a href="#" class="btn btn-info btn-custom">+ Add</a>
      </div>
    </div>
  </div>

</div>
